In [2]:
import m12_transform_data, m21_train_test_split, m11_load_data

In [3]:
a, b, c = m12_transform_data.transform_data()

In [6]:
c

       userId  itemId  rating  timestamp      date    time
0         195     241       3  881250949  19971204  155549
1         185     301       3  891717742  19980404  192222
2          21     376       1  878887116  19971107  071836
3         243      50       2  880606923  19971127  050203
4         165     345       1  886397596  19980202  053316
...       ...     ...     ...        ...       ...     ...
99995     879     475       3  880175444  19971122  051044
99996     715     203       5  879795543  19971117  193903
99997     275    1089       1  874795795  19970920  224955
99998      12     224       2  882399156  19971217  225236
99999      11     202       3  879959583  19971119  171303

[100000 rows x 6 columns]

In [8]:
train, valid, test = m21_train_test_split.train_test_split(c, hold_out = True)

ValueError: too many values to unpack (expected 3)

In [ ]:
x.shape[0]+ y.shape[0] + z.shape[0] == c.shape[0], x['date'].min(), x['date'].max(), y['date'].min(), y['date'].max(), z['date'].min(), z['date'].max()

In [ ]:
# !pip install surprise
from surprise import Dataset, Reader, SVD, accuracy

# A reader is still needed but only the rating_scale param is requiered.
reader = Reader(rating_scale=(1, 5))

# The columns must correspond to user id, item id and ratings (in that order).
train_m = Dataset.load_from_df(train[["userId", "itemId", "rating"]], reader)
train_m = train_m.build_full_trainset()
valid_m = Dataset.load_from_df(valid[["userId", "itemId", "rating"]], reader)

In [ ]:
params_svd = m21_train_test_split.params_grid(algorithm = 'MF_SVD')

In [ ]:
algo = SVD(**params_svd[0])

In [ ]:
algo

In [ ]:
algo.fit(train_m)

In [ ]:
valid_m = [valid_m.df.iloc[i].to_list() for i in range(len(valid_m.df))]
predictions = algo.test(valid_m)

In [ ]:
accuracy.mae(predictions), accuracy.fcp(predictions), accuracy.rmse(predictions), accuracy.mse(predictions)

In [ ]:
# DONT DELETE!!!!

# GOAL : get original data from KFold
kf = KFold(n_splits=3)

for trainset, testset in kf.split(df_ratings_test):
    
    trainset_list = []
    for uid, user_ratings in trainset.ur.items():
        for iid, rating in user_ratings:
            trainset_list.append((trainset.to_raw_uid(uid), trainset.to_raw_iid(iid), rating))
    
    # Convert list of tuples into DataFrame
    trainset_df = pd.DataFrame(trainset_list, columns=['userID', 'itemID', 'rating'])

    print(trainset_df['userID'].nunique())